<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Warehouse - Welcome Page</title>
</head>
<body class="hold-transition sidebar-mini">
	<div th:fragment="content">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Welcome!</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Welcome Page</a></li>
							</ol>
						</div>
					</div>
				</div>
		    </section>
		</div>
	</div>
</body>
</html>
